@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } //to calculate em for 600 :-  600/16 = 37.5em
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin btn($color) {
  width: 19rem;
  padding: 1.5rem;
  display: inline-block;
  background-color: $color;
  outline: none;
  border: none;
  color: white;
  border-radius: 3rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  font-weight: 300;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Initialize Loader
.loader1 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5rem;
  width: 5rem;
  background-color: transparent;
  border-radius: 50%;
  border: 0.5em solid;
  animation: dual-ring cubic-bezier(0.88, 0.11, 0, 0.45) infinite 2s;
  transform: translate(-50%, -50%);
}

@keyframes dual-ring {
  0% {
    border-color: transparent #c0ff33 transparent #ff335f;
    transform: rotate(0deg);
  }
  50% {
    border-color: transparent #b433ff transparent #f18520;
    transform: rotate(180deg);
  }
  100% {
    border-color: transparent #c0ff33 transparent #ff335f;
    transform: rotate(360deg);
  }
}

//====================================
//               REgister
//====================================
.reg {
  &-title {
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--color-intenseBlue);
  }

  &-text__container {
    background-color: var(--color-secondary);
    width: 32rem;
    align-self: center;
  }

  &-text {
    font-size: 1.5rem;
    background-color: var(--color-secondary);
    color: var(--color-intenseBlue);
    font-weight: 400;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include respond(phone) {
      padding-bottom: 1.5rem;
    }

    &__or {
      display: none;
      @include respond(phone) {
        display: block;
      }
    }

    &__group {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &__input {
      font-size: 1.4rem;
      font-family: inherit;
      padding: 1.4rem 2rem;
      border-radius: 2px;
      border: none;
      border-bottom: solid 1.2px #707070;
      display: block;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      background-color: transparent;
      align-self: center;
      width: 30rem;

      &:focus {
        outline: none;
        border-bottom: solid 1.5px var(--color-main);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.11);

        &:invalid {
          border-bottom: solid 1.5px rgb(255, 50, 50);
        }
      }
    }

    &__label {
      font-size: 1.2rem;
      display: block;
      font-weight: 700;
      // margin-left: -23rem;
      align-self: center;
      margin-top: 1.3rem;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color: rgb(255, 50, 50);
    }

    &__input:placeholder-shown + &__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-3rem);
    }

    &__button {
      @include btn(var(--color-intenseBlue));

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 15px 20px rgba(7, 49, 69, 0.1);
      }
      &:active {
        transform: translateY(1px);
        box-shadow: 0px 3px 10px rgba(7, 49, 69, 0.1);
      }
    }
  }
}

//Design Elements

.design {
  &-grid {
    position: absolute;
    left: 25rem;
    z-index: -9;
    transform: rotate(90deg) translateX(-32rem);

    @include respond(phone) {
      transform: rotate(90deg) translateX(-25rem);
    }

    &-2 {
      position: absolute;
      transform: rotate(90deg) translateX(11rem);
      right: 25.7rem;
      z-index: -11;

      @include respond(phone) {
        display: none;
      }
    }
  }

  &-circle {
    position: absolute;
    top: 21rem;
    left: 7rem;
    @include respond(phone) {
      display: none;
    }
  }
  &-halfCircle {
    position: absolute;
    top: -0.2rem;
    left: 54rem;
    @include respond(phone) {
      display: none;
    }
  }
  &-triangle {
    left: 62rem;
    position: absolute;
    top: 39rem;
    @include respond(phone) {
      display: none;
    }
  }
  &-square {
    position: absolute;
    top: 48rem;
    left: -3rem;
    @include respond(phone) {
      display: none;
    }
  }
}

//Login
.log {
  &__head {
    display: flex;
    flex-direction: column;
  }

  &-title__container {
    background-color: white;
    width: 30rem;
    align-self: center;

    h1 {
      font-size: 2.4rem;
    }
  }
  &-text {
    margin-top: 0.4rem;
    font-size: 1.5rem;
    color: var(--color-text);
    font-weight: 500;
  }

  &-form {
    &__group {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &__input {
      background-color: transparent;
    }
    &__label {
    }
    &__button {
      background-color: var(--color-secondary);
      border: 1.2px solid var(--color-intenseBlue);
      color: var(--color-intenseBlue);
      font-weight: 600;
      z-index: 13;

      &-2 {
        display: none;
        margin-top: 1.2rem;
        @include respond(phone) {
          display: inline-block;
        }
      }
    }
  }
}

//====================================
//               Sidebar
//====================================

.sidebar {
  @include no-select();

  &-brand {
    margin-top: 1.5rem;
    width: 16rem;
    @include no-select();
  }

  &__generic {
    @include no-select();

    li {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      line-height: 2.5;
      font-size: 1.4rem;
      padding-left: 8.5rem;

      span:first-of-type {
        margin-right: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      &:hover,
      &.active {
        background-color: #1aa489;

        span:last-child {
          font-weight: 500;
        }
      }
    }

    &-text {
      color: white;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0.02rem;
    }
  }

  &__middle {
    margin-top: 1.5rem;
    margin-left: -7rem;
    cursor: pointer;
    border-bottom: 1px solid #0000001c;
    padding: 2rem;
    @include no-select();

    span:first-of-type {
      margin-right: 1.3rem;
    }

    &-icon {
      fill: var(--color-text);
      width: 1.2rem;
      transition: all 0.15s ease-in-out;

      &.hide-projects {
        transform: rotate(-90deg);
      }
    }
    &-text {
      font-size: 1.3rem;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: var(--color-text);
    }
  }

  &__projects {
    @include no-select();
    list-style: none;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    padding-left: 8.5rem;
    font-size: 1.3rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-right: 3rem;

    &:hover,
    &.active {
      background-color: #1aa489;
      font-weight: 600;
    }

    &-color {
      margin-right: 2rem;
    }

    &-setting {
      transform: translateY(-3px);
      width: 1.7rem;

      &--delete {
        width: 1.4rem;
      }
      &--archived {
        width: 1.2rem;
      }
      &--color {
        width: 1.4rem;
      }
    }

    &:first-of-type {
      margin-top: 1.5rem;
    }
  }
}

//====================================
//            ADD PROJECT
//====================================
.add-project {
  margin-top: 3.5rem;
  margin-right: 5.5rem;
  @include no-select();

  span {
    // font-size: 0.2rem;
    font-weight: 500;
  }

  &-plus {
    margin-right: 1rem;
    transform: translateY(5px);
  }

  &-text {
    font-size: 1.2rem;
    color: white;
    font-weight: bolder;
  }

  &__modal {
    background-color: #dcf5f0;
    border-radius: 0.8rem;
    width: 45rem;
    margin-top: 6rem;

    &-header {
      background-color: #c3f3ea;
      padding: 1.5rem 2rem;

      h3 {
        color: var(--color-main);
        font-size: 1.3rem;
      }
    }

    &-body {
      margin-top: 3rem;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;

      span {
        align-self: flex-start;
        font-size: 1.2rem;
        color: var(--color-text);
        padding-left: 3.5rem;
        margin-bottom: 0.7rem;
        font-weight: 600;
      }

      input {
        width: 38rem;
        border: none;
        border-radius: 0.4rem;
        padding-left: 1rem;
        margin-bottom: 2.5rem;
      }

      &-dropdown {
        width: 1rem;
        margin-right: 1.5rem;
        margin-top: 0.8rem;
        fill: var(--color-text);

        &--list {
          list-style: none;
          display: flex;
          border-bottom: 1px solid rgba(0, 0, 0, 0.096);
          padding: 1rem 0;
          cursor: pointer;

          &:nth-child(1) {
            padding-top: 2rem;
          }

          &:hover {
            background-color: #e2e2e266;
          }

          &:active {
            background-color: #e2e2e2c7;
          }

          span {
            font-size: 1.2rem;
            letter-spacing: 0.3;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            color: #82807e;
            padding-left: 0.9rem !important;
            margin-bottom: 0 !important;
          }
        }
      }
    }
    &-action {
      padding: 3rem 3.5rem;
      float: right;

      button {
        border: none;
        background-color: #e8290b;
        color: white;
        padding: 1rem 3rem;
        font-weight: 500;
        border-radius: 2rem;
        cursor: pointer;

        &:first-of-type {
          margin-right: 2.5rem;
          background-color: var(--color-main);
        }
      }
    }
  }
}

//====================================
//            MODAL
//====================================
#modal {
  @include no-select();
  background-color: rgba(0, 0, 0, 0.18);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  transition: all 0.1s ease-in-out;

  &:empty {
    display: none;
  }
}

//====================================
//           Navbar
//====================================
.navbar {
  &_mode-toggle {
    &:checked + &-label {
      background-image: url(../assets//svg/toggle-dark.svg);
    }

    &:checked + &-label::after {
      left: calc(102% - 20px);
      // transform: translateX(-100%);
      animation: toggle 0.2s ease-in-out;

      @keyframes toggle {
        0% {
          transform: translateX(-10%);
        }
        50% {
          transform: translateX(101%);
        }
      }
    }

    &-label {
      cursor: pointer;
      font-size: 1.5rem;
      text-indent: -9999px;
      width: 49px;
      height: 20px;
      border-radius: 50px;
      background-image: url(../assets/svg/toggle-light_1.svg);
      background-repeat: no-repeat;
      position: relative;
      margin-top: 0.4rem;
      overflow: hidden;

      &::after {
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        top: 3px;
        left: 0.2rem;
        border-radius: 50%;
        background-color: var(--color-base);
        transition: 0.3s;
      }
    }
  }

  &_mode-toggle[type="checkbox"] {
    visibility: hidden;
  }

  &__elements {
    cursor: pointer;
    @include no-select();

    &-quick {
      width: 2.4rem;
    }
    &-quicks {
      width: 4rem;
    }

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &-setting {
      width: 1.8rem;
    }

    // &-setting-activeRotation {
    //   transform: rotateZ(45deg);
    //   transition: all 0.2s ease-in-out;
    //   margin-right: 0rem !important;
    // }
    // &-setting-reverseRotation {
    //   transform: rotateZ(0deg);
    //   transition: all 0.2s ease-in-out;
    // }
  }
}

//====================================
//          Tasks List
//====================================
.tasks {
  &__completed {
    padding: 5rem 4.7rem;
    text-align: center;
    @include no-select();

    &-image {
      width: 26rem;
      opacity: 0.7;
    }
    &-title {
      font-weight: 500;
      letter-spacing: 1;
      color: #1abc9c;
      letter-spacing: 0.3px;
      font-size: 1.4rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
    &-button {
      background-color: var(--color-main);
      outline: none;
      border: none;
      border-radius: 6px;
      color: white;
      padding: 1rem 1.2rem;
      cursor: pointer;
    }
  }

  &__list {
    @include no-select();
    width: 55rem;

    &-features {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: 7rem;
      display: none;

      &-container {
        display: flex;
        flex-direction: column;
      }
    }

    &-selectedProject {
      font-size: 1rem;
      font-weight: 700;
      color: #878787b8;
      align-self: flex-end;
    }

    li {
      padding: 1.6rem 0;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--color-text);
      display: flex;
      align-items: center;
      border-bottom: 1px solid #4644440c;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        cursor: pointer;
      }

      &:hover .tasks__list-selectedProject {
        display: none;
      }
      &:hover .tasks__list-features {
        display: flex;
      }
      &:active .tasks__list-selectedProject {
        display: none;
      }
      &:active .tasks__list-features {
        display: flex;
      }
    }

    &-checkbox {
      cursor: pointer;
      color: #343434;
      height: 14px;
      width: 14px;
      display: inline-block;
      border: 1.5px solid var(--color-main);
      border-radius: 16px;
      margin-right: 1.2rem;
      transition: all 3s ease-in-out;

      &:hover &--inner {
        display: block;
      }

      &--inner {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #1abc9c8c;
        display: none;
      }
    }
  }
}

//====================================
//           Add Task
//====================================
.add-task {
  @include no-select();
  display: flex;
  cursor: pointer;
  margin-left: 4.7rem;
  margin-top: 3.5rem;

  &-container {
    &-enter {
      opacity: 0;
      transform: translateY(-1rem);
      z-index: -99;

      &-active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 200ms, transform 200ms;
      }
    }

    &-exit {
      opacity: 1;
      transform: translateY(0);
      &-active {
        opacity: 0;
        transform: translateY(-1rem);
        transition: opacity 200ms, transform 200ms;
      }
    }
  }

  &-wrapper {
    margin-left: 4.7rem;
  }

  &__modal {
    background-color: #dcf5f0;
    border-radius: 0.8rem;
    right: 19rem;
    // position: absolute;
    width: 43rem;
    margin-top: 2rem;

    &__wrapper {
      &-enter {
        opacity: 0;
        transform: translateY(-10rem);

        &-active {
          opacity: 1;
          transform: translateY(0);
          transition: opacity 100ms, transform 100ms;
        }
      }

      &-exit {
        opacity: 1;
        transform: translateY(0);

        &-active {
          opacity: 0;
          transform: translateY(-7rem);
          transition: opacity 100ms, transform 100ms;
        }
      }
    }

    &-header {
      background-color: #c3f3ea;
      padding: 1rem 2rem;
      justify-content: space-between;
      display: flex;

      h3 {
        color: var(--color-main);
        font-size: 1.3rem;
      }

      h2 {
        font-size: 1.5rem;
        color: #e8290b;
        cursor: pointer;
      }
    }

    &-body {
      margin-top: 1.2rem;
      flex-direction: column;
      align-items: center;
      display: flex;

      input {
        width: 38rem;
        border: none;
        border-radius: 0.4rem;
        padding-left: 1rem;
      }
    }

    &-action {
      display: flex;
    }
  }

  span:first-of-type {
    margin-right: 0.7rem;
  }

  &-icon {
    width: 1.9rem;
  }

  &-title {
    font-size: 1.2rem;
    color: var(--color-main);
    font-weight: 500;
  }

  &-input-holder {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-top: 1.4rem;
  }

  &-input {
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    padding: 0 0.9rem;
    height: 4rem;
  }
}

//====================================
//           Project Overlay
//====================================
.project__overlay {
  border: solid 1px rgba(0, 0, 0, 0.1);

  &__wrapper {
    &-enter {
      opacity: 0;
      transform: translateY(-1rem);

      &-active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 100ms, transform 100ms;
      }
    }

    &-exit {
      opacity: 1;
      transform: translateY(0);
      &-active {
        opacity: 0;
        transform: translateY(-1rem);
        transition: opacity 100ms, transform 100ms;
      }
    }
  }

  &-paper-clip {
    position: absolute;
    z-index: 1002;
    margin-top: -12px;
    height: 2px;
    width: 2px;
    border: 6px solid red;
    border-bottom-color: red;
    left: 16rem;
  }

  &-list {
    h2 {
      font-size: 1.3rem;
      color: rgb(94, 93, 93);
      font-weight: 600;
      background-color: #c3f3ea;
      padding: 0.5rem 1rem;
    }
  }

  li {
    padding: 1rem;
    list-style-type: none;
    border-bottom: 1px solid #1abc9c33;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #6d6d6d2e;
    }
  }
}

.task-date {
  border: solid 1px rgba(0, 0, 0, 0.1);

  &__wrapper {
    &-enter {
      opacity: 0;
      transform: translateY(-1.5rem);
      z-index: -99;

      &-active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 100ms, transform 100ms;
      }
    }

    &-exit {
      opacity: 1;
      transform: translateY(0);
      &-active {
        opacity: 0;
        transform: translateY(-1.5rem);
        transition: opacity 100ms, transform 100ms;
      }
    }
  }

  &__list {
    h2 {
      font-size: 1.3rem;
      color: rgb(94, 93, 93);
      font-weight: 600;
      background-color: #c3f3ea;
      padding: 0.5rem 1rem;
    }
  }

  &-paper-clip {
    position: absolute;
    z-index: 1002;
    margin-top: -12px;
    height: 2px;
    width: 2px;
    border: 6px solid red;
    border-bottom-color: red;
    left: 17.4rem;
  }

  li {
    padding: 1rem;
    list-style-type: none;
    border-bottom: 1px solid #1abc9c33;
    cursor: pointer;

    &:hover {
      background-color: #6d6d6d2e;
    }
  }
}

//====================================
//          Overlays Fix
//====================================

.projects__overlay2 {
  user-select: none;
  position: absolute;
  width: 20rem;
  border-radius: 4px;
  margin-left: -16rem;
  margin-top: 4rem;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #dcf5f0;
}
.projects__overlay3 {
  user-select: none;
  position: absolute;
  width: 20rem;
  border-radius: 4px;
  margin-left: -8rem;
  margin-top: 2rem;
  font-size: 1rem;

  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #dcf5f0;
}

.task__date2 {
  @include no-select();
  position: absolute;
  width: 20rem;
  border-radius: 4px;
  margin-left: -10rem;
  margin-top: 3.5rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #dcf5f0;
}
.task__date3 {
  @include no-select();
  position: absolute;
  width: 20rem;
  border-radius: 4px;
  margin-left: -6rem;
  margin-top: 2.5rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #dcf5f0;
}

//====================================
//
//====================================
